body{
    display: flex;
    background-color: black;
}
div{
    height: 100%;
    display: flex;
    color: aqua;
}
.toolBar{

    color: red;
    border: solid;
    border-color: aqua;
    margin: 0vw;
    width: 3.2rem;
}
.tablesInfo{
width: 60rem;
border: solid;
border-color: purple;
}
.graphSpace{
    width: 35vw;
    border: solid;
    border-color: red;
}